html {
  text-size-adjust: 100%;
}

body {
  background-color: #959595;
  font: 18px / 1 sans-serif;
}
main {
  max-width: 42 em;
  margin: auto;
}
h1 {
  text-align: center;
  font-family: monospace;
  font-size: 50px;
}
#future {
  font-family: fantasy;
  color: #138D75;
  font-size: 25px;
}
#past {
  font-family: cursive;
  font-size: 30px;
  color: #138D75;
}
#present {
  color: #138D75;
  font-size: 25px;
}
section {
  display:flex;
}
.section {
  border-style: solid;
  border-width: medium;
  border-color: black;
  margin: 20px;
  align-content: center;
  background-color: #D7DBDD;
}
h5 {
  text-align: center;
  font-family: monospace;
}
.picture {
  height: 300px;
  width: auto;
  display: block;
  border-style: solid;
  border-width:thin;
  border-color: black;
}
figcaption {
  font-size: 15px;
  font-family: monospace;
  text-align: center;
}
p {
  padding: 10px;
}
h3 {
  padding-left: 10px;
}
#futext {
  padding-top: 0px;
}
#atom {
  height: 400px;
  width: 700px;
}
